{extend name="admin@public/base" /}
{block name="main-content"}
	<div class="page-content">
		<!--主题-->
		<div class="page-header">
			<h1>
				您当前操作
				<small>
					<i class="ace-icon fa fa-angle-double-right"></i>
					添加用户信息
				</small>
			</h1>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<form class="form-horizontal adminform" name="admin_list_add" method="post" action="{:url('admin/BasicInformation/runadd')}">
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 校长姓名：  </label>
						<div class="col-sm-10">
							<input type="text" name="principal_name" placeholder="输入校长姓名" class="col-xs-10 col-sm-5" required/>
							<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>请填写真实姓名</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 机构名称：  </label>
						<div class="col-sm-10">
							<input type="text" name="company_name" placeholder="输入机构名称" class="col-xs-10 col-sm-5" required/>
							<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>请填写真实机构名称</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 联系方式：  </label>
						<div class="col-sm-10">
							<input type="number" name="principal_tel" id="admin_tel" placeholder="输入手机号码" class="col-xs-10 col-sm-5" required/>
							<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>只能填写数字</span>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 校区地址：  </label>
						<div class="col-sm-10">
							<input type="text" name="company_address"  placeholder="输入校区地址" class="col-xs-10 col-sm-5" required/>
							<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>请填写真实地址</span>
						</div>
					</div>
					<div class="space-4"></div>
					<div class="form-group">
						<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 是否成交： </label>
						<div class="col-sm-10" style="padding-top:5px;">
							<input name="is_deal" value="1" class="ace ace-switch ace-switch-4 btn-flat" type="checkbox" />
							<span class="lbl">&nbsp;默认关闭</span>
						</div>
					</div>
					<div class="space-4"></div>

					<div class="clearfix form-actions">
						<div class="col-md-offset-3 col-md-9">
							<button class="btn btn-info" type="submit">
								<i class="ace-icon fa fa-check bigger-110"></i>
								保存
							</button>

							&nbsp; &nbsp; &nbsp;
							<button class="btn" type="reset">
								<i class="ace-icon fa fa-undo bigger-110"></i>
								重置
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>

	</div><!-- /.page-content -->
{/block}