{extend name="admin@public/base" /}
{block name="main-content"}
<div class="page-content">
	<!--主题-->
	<div class="page-header">
		<h1>
			您当前操作
			<small>
				<i class="ace-icon fa fa-angle-double-right"></i>
				添加用户信息
			</small>
		</h1>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<form class="form-horizontal adminform" name="admin_list_add" method="post" action="{:url('admin/BasicInformation/runedit')}">
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 校长姓名：  </label>
					<div class="col-sm-10">
						<input type="text" name="principal_name" placeholder="输入校长姓名" value="{$data.principal_name}" class="col-xs-10 col-sm-5" required/>
						<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>请填写真实姓名</span>
					</div>
				</div>
				<div class="space-4"></div>

				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 机构名称：  </label>
					<div class="col-sm-10">
						<input type="text" name="company_name" placeholder="输入机构名称" value="{$data.company_name}" class="col-xs-10 col-sm-5" required/>
						<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>请填写真实机构名称</span>
					</div>
				</div>
				<div class="space-4"></div>

				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 联系方式：  </label>
					<div class="col-sm-10">
						<input type="number" name="principal_tel" id="admin_tel" value="{$data.principal_tel}" placeholder="输入手机号码" class="col-xs-10 col-sm-5" required/>
						<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>只能填写数字</span>
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 校区地址：  </label>
					<div class="col-sm-10">
						<input type="text" name="company_address" value="{$data.company_address}" placeholder="输入校区地址" class="col-xs-10 col-sm-5" required/>
						<span class="lbl col-xs-12 col-sm-7"><span class="red">*</span>请填写真实地址</span>
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 是否成交： </label>
					<div class="col-sm-10" style="padding-top:5px;">
						<input name='is_deal'  {if condition="$data['is_deal'] eq 1"}checked{/if}  value='1' class='ace ace-switch ace-switch-4 btn-flat' type='checkbox' />
						<span class="lbl">&nbsp;默认关闭</span>
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 上传录音文件： </label>
					<div class="col-sm-10">
						<a href="javascript:;" class="file" title="点击选择所要上传的录音">
							<input type="file" name="video[]" id="fUpload" multiple="multiple" onchange="sound()"/>
							选择上传文件
						</a>
						{if($mp3)}
						&nbsp;&nbsp;
						<audio src="{$mp3[0]}" controls="controls" style="height: 34px;width: 294px;">
						</audio>
						{/if}
						<span id="ulList"></span>
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 文章图集： </label>
					<div class="col-sm-10">
						<div class="radio" >
							<label style="padding-left: 0">
								<span class="btn btn-minier btn-success"  data-toggle="modal" data-target="#myModal">查看已上传的图片</span>
							</label>
						</div>
					</div>
				</div>
				<div class="space-4"></div>
				<!-- 多图上传 -->
				<link href="__PUBLIC__/ppy/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
				<script src="__PUBLIC__/ppy/js/fileinput.js" type="text/javascript"></script>
				<script src="__PUBLIC__/ppy/js/fileinput_locale_zh.js" type="text/javascript"></script>
				<div class="form-group" id="pic_list">
					<div class="col-sm-10 col-sm-offset-2" style="padding-top:5px;">
						<input id="file-5" name="pic_all[]" type="file"  class="file"  multiple data-preview-file-type="any" data-upload-url="#" data-preview-file-icon=""><br />
					</div>
				</div>
				<div class="space-4"></div>
				<div class="form-group">
					<label class="col-sm-2 control-label no-padding-right" for="form-field-1"> 备注：  </label>
					<div class="col-sm-10">
						<textarea name="remarks" class="col-xs-12 col-sm-12" id="news_pic_content" ></textarea>

					</div>
				</div>
				<input type="hidden" name="id" value="{$id}">
				<!--老多图字符串-->
				<input name="pic_oldlist" type="hidden" id="pic_oldlist" type="text" size="130" value="{$data.pic_all}" >
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
					<div class="modal-dialog" style="width:80%">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"
										aria-hidden="true">×
								</button>
								<h4 class="modal-title" id="myModalLabel">
									操作已上传的多图
								</h4>
							</div>
							<div class="modal-body">
								<div class="row">
									<div class="col-xs-12">
										<div class="form-group">
											<div class="col-sm-10">
												<ul>
													{volist name="img" id="v"}

													<div class="file-preview-frame" data-fileindex="0" id="id{$i}">
														<img src="{$v|get_imgurl}" class="file-preview-image" style="cursor:zoom-in;width:auto;height:160px;" onclick="imgcli(this)">
														<div class="file-thumbnail-footer">
															<div class="file-actions">
																<div class="file-footer-buttons">
																	<a class="red" href="javascript:;" onclick="return delall({$i},'{$v}');" title="回收站">
																		<i class="ace-icon fa fa-trash-o bigger-130"></i>
																	</a>
																</div>
																<div class="clearfix"></div>
															</div>
														</div>
													</div>
													{/volist}
												</ul>
											</div>
										</div>
										<div  id="divimg" style="cursor:zoom-out;background: rgba(0,0,0,.6);width:100%;height:100%;position: absolute;z-index: 9999;left: 0;top: 0;display: none">
											<img style="width: 800px;left: 50%;top:50%;margin-left: -400px;position: absolute;">
										</div>
										<div class="space-4"></div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button class="btn btn-primary">
									若想取消修改，请刷新当前页面
								</button>
								<button type="button" class="btn btn-default" data-dismiss="modal">
									关闭
								</button>
							</div>
						</div><!-- /.modal-content -->
					</div><!-- /.modal-dialog -->
				</div>
				<div class="clearfix form-actions">
					<div class="col-md-offset-3 col-md-9">
						<button class="btn" type="reset">
							<i class="ace-icon fa fa-undo bigger-110"></i>
							重置
						</button>
						&nbsp; &nbsp; &nbsp;
						<button class="btn btn-info" type="submit">
							<i class="ace-icon fa fa-check bigger-110"></i>
							保存
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</div><!-- /.page-content -->
{/block}
{block name="scripts"}
<script>
    function sound() {
        $("#ulList").empty();
        var fp = $("#fUpload");
        var lg = fp[0].files.length; // get length
        var items = fp[0].files;
        var fragment = "";
        if (lg > 0) {
            for (var i = 0; i < lg; i++) {
                var fileName = items[i].name; // get file name
                var fileSize = items[i].size; // get file size
                var fileType = items[i].type; // get file type
                fragment += "<li>" + fileName + " (<b>" + fileSize + "</b> bytes) - Type :" + fileType + "</li>";
            }
            $("#ulList").append(fragment);
        }
    }
    $('#divimg').click(function(){$(this).fadeOut(200)})
    function imgcli(obj){
        $('#divimg').fadeIn(200);
        $('#divimg img').attr('src',$(obj).attr("src"));
        $('#divimg img').css("margin-top","-"+264+"px")
    }
</script>
{/block}